.product_card{
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.2),0 4px 4px 0 rgb(0, 0, 0, 0.2);
}

.product_card_img{
    width: 260px;
    object-fit: contain;
}

.product_card_title{
    cursor: pointer;
    width: 100%;
    display: flex;
    font-weight: 800;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
}

.product_card_desc{
    font-weight: 500;
}

.product_card_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: 900;
    font-size: 1rem;
}

.product_like, .product_cart{
    cursor: pointer;
}

@media screen and (max-width: 460px){
    .product_card{
        width: 100%;
    }
}